*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    padding: 10px 8px;

}
nav{
	width:100%;
	display:flex;
	align-items: initial;
	justify-content: space-between;
	padding: 10px 10;
}
.container{
    width: 75%;
    height: 80vh;
    background-color: powderblue;
    border-radius: 20px;
    padding: 28px 25px;
    box-shadow: 14px 27px 49px -3px grey;
    background-size: cover;

}
.top{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    height: 70px;
    position: relative;
}
.box i{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 23px;
    text-align: center;
    padding-top: 20px;
    color: seagreen;


}
.box h3{
    margin-left: 16px;
    margin-top: 20px;
    font-size: 22px;
}
.box button{
border: none;
outline: none;
position: absolute;
top: 20px;
right: 0;
height: 30px;
border-radius: 20px;
text-align: center;
color: black;
padding-left: 16px;
}
.box button i{
    background: none;
    color: black;
    font-size: 15px;
margin-top: -13px;
margin-right: -15px;
transition: 1% linear;

}
.box1 i{
    background: white;
}
.box2 i{
    background: white;
}
.box3 i{
    background: white;
    padding: 0 5px;
}
.button1{
    background: white;
    width: 105px;
    font-size: 11px;
    padding: 0px 20px;
    cursor: pointer;
    
    
}
h5{
    color: black;
    padding: 10px 0;
    font-size: 24px;
}
a{
    display: block;
    text-decoration: none;
    padding: 5px 0px;
    font-weight: 548;
    text-transform: capitalize;

}
.logo{
    width: 60px;
    cursor: pointer;
}

